.nav-container {
  overflow: visible;
  width: 100%;
  z-index: 100;

  &.is-fixed {
    left: 0;
    position: fixed;
    top: 0;

    @media (max-width: $width-max-mobile) {
      position: absolute;
    }
  }
}

.site-content.has-fixed-nav {
  padding-top: 76px;
}
