:root {
  --color-heliotrope: #866cff;
}

.site {
  background-color: #f3f3f3;
}

.hero-name-tag {
  position: absolute;
  right: var(--padding-container-horizontal);
  top: var(--padding-container-horizontal);
  z-index: 22;
}

.hero-name-tag p {
  background-color: var(--color-black);
  border-radius: 4px;
  color: var(--color-white);
  font-size: var(--font-size-14);
  line-height: 1;
  margin: 0;
  padding: 8px 10px;
  transition: all .5s;
}

.block {
  margin: 4.7rem;
  outline: 1px dashed var(--color-black);
  overflow: visible;
  padding: 4.7rem;
  z-index: 4;

  @media (max-width: $container-mobile) {
    margin: var(--padding-container-horizontal);
    padding: var(--padding-container-horizontal);
  }
}
