// stylelint-disable a11y/no-display-none, a11y/font-size-is-readable
:root {
  --color-heliotrope: #866cff;
  --color-background-site: #f3f3f3;
}

.toggle-outlines {
  &.toggled .disabled {
    display: none;
  }

  &:not(.toggled) .enabled {
    display: none;
  }
}

.menu-item-button {
  align-items: center;
  display: flex;
  order: 999;

  button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: var(--color-white);
    font-size: 12px;
    margin-left: 1rem;
    padding: 0;
  }

  button:focus,
  button:hover {
    cursor: pointer;
  }
}

.menu-items .menu-item.menu-item-blocks-count {
  align-items: center;
  color: var(--color-white);
  display: inline-flex;
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-semibold);
  gap: 1rem;
  opacity: .77;
  order: 2;
  overflow: visible;

  span {
    align-items: center;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    display: flex;
    font-size: 13px;
    height: 24px;
    justify-content: center;
    width: 24px;
  }

  @media (max-width: 680px) {
    display: none;
  }
}

.menu-item.social {
  display: none;
}

.block,
.site,
.block-name-tag p,
.block-name-tag {
  transition: all .22s;
}

.block {
  margin: 0;
  padding: 0;
}

html,
body,
.site {
  background-color: var(--color-background-site);
}

.block-name-tag {
  left: 0;
  opacity: 0;
  position: absolute;
  top: -22px;
  transition: all .22s;
  z-index: 22;

  p {
    background-color: var(--color-black);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: var(--color-white);
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 5px 8px;
    transform: translateX(1rem);
  }
}

// stylelint-disable-next-line selector-max-specificity
.site-main .block.block-icon-content-columns p:first-of-type,
.site-main .block.block-image-content-columns .block-name-tag p:first-of-type {
  margin: 0;
}

.has-decorations {
  .block-name-tag {
    opacity: 1;
  }

  .block.is-skip-link {
    margin-left: 4.7rem;
    max-width: 100%;
    overflow: visible;
    padding-left: 4.7rem;
    z-index: 999;
  }

  .block-carousel {
    overflow: visible;
    position: relative;

    .container {
      padding-bottom: 54px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }

    .slider-slide img {
      @media (max-width: $container-desktop) {
        max-width: calc(100vw - 8rem);
      }
    }
  }

  .block-carousel::before,
  .block-carousel::after {
    background-color: var(--color-background-site);
    // stylelint-disable-next-line max-line-length
    background-image: linear-gradient(var(--color-black), var(--color-cyan-bright)), linear-gradient(var(--color-black), var(--color-cyan-bright));
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 1px 100%;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: calc(4.7rem + 2px);
    z-index: 2;

    @media (max-width: $container-mobile) {
      width: calc(var(--padding-container-horizontal) + 2px);
    }
  }

  .block-carousel::before {
    left: -4.8rem;

    @media (max-width: $container-mobile) {
      left: -1.6rem;
    }
  }

  .block-carousel::after {
    right: -4.8rem;

    @media (max-width: $container-mobile) {
      right: -1.6rem;
    }
  }

  .block {
    // stylelint-disable-next-line
    background-image: linear-gradient(var(--color-black), var(--color-cyan-bright)), linear-gradient(var(--color-black), var(--color-cyan-bright));
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 1px 100%;
    border-bottom: 1px solid var(--color-cyan-bright);
    border-top: 1px solid var(--color-black);
    margin: 4.7rem;
    overflow: visible;
    padding: 4.7rem;
    z-index: 4;

    @media (max-width: $container-mobile) {
      margin: 4.7rem var(--padding-container-horizontal);
      padding: 4.7rem var(--padding-container-horizontal);
    }
  }
}
