.accordion-item {
  border-bottom: 1px solid var(--color-black);
}

.accordion-item:first-child {
  border-top: 1px solid var(--color-black);
}

.accordion h3 {
  margin: 0;
}

// Some styles here are to reset default theme button styles
button.accordion-trigger {
  background-color: transparent;
  border: 0;
  color: var(--color-black);
  display: block;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  max-width: none;
  padding-bottom: 3.5rem;
  padding-left: 0;
  padding-right: 3.5rem;
  padding-top: 3.5rem;
  width: 100%;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 0;
  }

  @media (max-width: $container-mobile) {
    padding-bottom: 2.5rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
  }
}

.accordion-title {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  pointer-events: none;
  white-space: normal;
}

.accordion-icon {
  background-image: url('data:image/svg+xml, %3Csvg class="icon-plus" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1 1 5.925 1 12s4.925 11 11 11zM12 6v12M18 12H6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-flex;
  height: 20px;
  min-width: 20px;
  order: 1;
  pointer-events: none;
  width: 20px;

  svg {
    align-self: center;
  }
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
  background-image: url('data:image/svg+xml, %3Csvg class="icon-minus" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1 1 5.925 1 12s4.925 11 11 11zM18 12H6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
}

.accordion-panel > div {
  padding-bottom: 3.5rem;

  > *:first-child {
    margin-top: 0;
  }

  @media (min-width: $container-mobile) {
    padding-bottom: 5.5rem;
    padding-right: 6.5rem;
  }
}
