.block-carousel {
  .slider-slide img {
    border-radius: 6px;
    height: 500px;

    @media (max-width: $container-desktop) {
      height: auto;
      max-width: calc(100vw - calc(var(--padding-container-horizontal) * 2));
      width: 100%;
    }
  }

  .slider-slide {
    padding: 0 40px 0 0;
  }

  .controls-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
  }

  .slick-btn {
    background-color: transparent;
    border: 0;
    color: var(--color-black);
  }

  // Show overflowing content
  .container,
  .slick-list,
  .slider {
    overflow: visible;
  }

  // Hide overflow to the left
  // .slider::before {
  //   background-color: var(--color-white);
  //   bottom: 0;
  //   content: '';
  //   left: -100vw;
  //   position: absolute;
  //   top: 0;
  //   width: 100vw;
  //   z-index: 1;
  // }
}
