// Image content columns block
.block-image-content-columns {
  .container {
    display: grid;
    row-gap: 4rem;

    @media (min-width: $container-ipad) {
      column-gap: 6rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .image {
    aspect-ratio: 16 / 9;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: var(--font-size-20);
    margin-bottom: 1.5rem;
  }

  p:first-of-type {
    margin-top: 1.5rem;
  }
}
